<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register | Books</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1630216985/book-bookmark-icon_34486_hjcguv.png">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="contenedor_login">
    <div id="parte1">
        <img src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1630216985/book-bookmark-icon_34486_hjcguv.png" class="avatar">
        <form action="/register" method="POST">
            <label for="username" style="color:white";>Usuario:</label>

            <input  autocomplete="off" autofocus name= "username" type="text" id="username" placeholder="usuario">

            <label for="Password" style="color:white";>Contraseña:</label>

            <input  name= "password" type="password" id="Password" placeholder="contraseña">

            <label for="Correo" style="color:white";>Correo:</label>

            <input  name= "Correo" type="text" id="Correo" placeholder="correo">

            <button  class="botonIni" style="width: 100%;" type="submit">Registrarme</button></button><hr color="black">
           
    </div>
</div>
</body>
</html>
